<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <title>List of purposes</title>
</head>
<body>
<header th:replace="header :: header"></header>
<fieldset class="border p-4">
    <legend>List of purposes</legend>
    <div>
        <a class="btn btn-success" role="button" th:href="@{/purpose-creation}">Add purpose</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
            <th scope="col">User</th>
            <th scope="col">Count of days</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="purpose: ${purposes}">
            <th scope="col" th:text="${purpose.id}"/>
            <td th:text="${purpose.title}"/>
            <td th:text="${purpose.dateOfCreation.toLocalDate()}"/>
            <td>
                <a th:text="${purpose.getUser().name}" th:href="@{/user-profile/{id}(id = ${purpose.getUser().id})}"/>
            </td>
            <td th:text="${purpose.daysTally}"/>
            <td>
                <a class="btn btn-warning" th:href="@{/purpose-modification/{id}(id=${purpose.getId()})}">Modify</a>
                <a class="btn btn-danger" th:href="@{/purpose-remove/{id}(id=${purpose.getId()})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</fieldset>
</body>
</html>