<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <title>Create New Purpose</title>
</head>
<body>
<header th:replace="header :: header"></header>
<fieldset class="border p-4">
    <legend>New purpose</legend>
    <div class="container-fluid">
        <form action="#" th:action="@{/purpose/new}" th:object="${purpose}" method="post">
            <div class="form-row">
                <div class="col-md-6 form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" th:field="*{title}">
                </div>
                <div class="col-md-6 form-group">
                    <label>Date</label>
                    <input id="datetime" type="datetime-local" class="form-control" th:field="*{dateOfCreation}">
                </div>
                <div class="col-md-6 form-group">
                    <label>Count of days</label>
                    <input type="text" class="form-control" th:field="*{daysTally}">
                </div>
                <div class="col-md-6 form-group">
                    <label>Category</label>
                    <select class="form-control" th:field="*{category}">
                        <option th:each="category : ${categories}" th:value="${category.caregory_id}" th:text="${category.name}"></option>
                    </select>
                </div>
                <div class="col-md-6 form-group">
                    <label>User</label>
                    <select class="form-control" th:field="*{user}" id="dropOperator">
                        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}"></option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-3">Save</button>
        </form>
    </div>
</fieldset>
</body>
</html>